@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

.s {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../assets/images/bg2.jpg");
  height: 100vh;
  background-position: center 0;
  background-size: cover;
}

.nav {
  /* border-bottom: 1px solid blue; */
  box-shadow: 0px 1px 2px blue;
}
